.btn {
  height: 3rem;
  padding: 0 1.5rem;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.2em;
  color: cadetblue;
  outline: none;
  border-radius: 0.1em;
  transition: background-color 0.3s ease-in;
  background-color: #fff;

  &--with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > span {
    display: inline-block;
    user-select: none;
  }

  &:hover {
    background-color: darken(#fff, 10%);
  }

  &:hover > span,
  &:hover > .btn__icon {
    transform: scale(0.95);
  }

  &__icon {
    margin-right: 0.5em;
    animation: none;
    font-size: 1.2em;
  }

  & > * {
    transition: transform 0.3s ease-in;
  }
}
