.end {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fc427b;
  color: #fff;

  &__icon {
    animation: none;
    font-size: 10em;
    opacity: 0.8;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-size: 1em;
    min-height: 300px;
    & .btn {
      margin-bottom: 1.5em;
      color: #fc427b;
    }
  }

  &__text {
    font-size: 2em;
  }
}
