.animated-icon {
  animation: pulse 3s infinite steps(2);
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.52, 0.48, 0.52, 0.56);
  animation-fill-mode: both;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
